@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body {
  font-weight: 400;
  font-size: 16px;
  font-family: roboto, arial, sans-serif;
  color: white;
  background-color: #90a69a; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: #d07058;
    outline: none; }

button:not(:disabled) {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }
  .modal__overlay--show {
    display: block; }

.btn {
  display: inline-block;
  padding: 10.5px 25px;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: white;
  text-decoration: none;
  background: none;
  background-color: #e84d37;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74b36));
  background-image: linear-gradient(180deg, #f26843 0%, #e74b36 100%);
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer; }
  .btn:hover, .btn:focus {
    color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
    background-image: linear-gradient(180deg, #f58669 0%, #ec6f5e 100%);
    outline: none;
    -webkit-box-shadow: 0 2px 2px 0 #ac1000;
            box-shadow: 0 2px 2px 0 #ac1000; }
  .btn:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d74632), to(#e1613e));
    background-image: linear-gradient(180deg, #d74632 0%, #e1613e 100%);
    -webkit-box-shadow: inset 0 2px 2px 0 #942718;
            box-shadow: inset 0 2px 2px 0 #942718; }

.field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 13px 15px;
  font-weight: 700;
  color: #323232;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 1px #d3d3d2;
          box-shadow: inset 0 0 0 1px #d3d3d2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .field:hover {
    -webkit-box-shadow: inset 0 0 0 2px #c7c6c5;
            box-shadow: inset 0 0 0 2px #c7c6c5; }
  .field:focus {
    outline: none;
    -webkit-box-shadow: inset 0 0 0 2px #8fbdec;
            box-shadow: inset 0 0 0 2px #8fbdec; }
  .field::-webkit-input-placeholder {
    font-weight: 400; }
  .field:-ms-input-placeholder {
    font-weight: 400; }
  .field::-ms-input-placeholder {
    font-weight: 400; }
  .field::placeholder {
    font-weight: 400; }
  .field:-ms-input-placeholder {
    font-weight: 400;
    color: #999999; }

.logo svg {
  display: block;
  fill: white; }

.range-filter {
  position: relative;
  margin: 0 5px;
  width: 100%; }

.range-filter__scale {
  width: 175px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5); }

.range-filter__bar {
  width: 80%;
  height: 4px;
  background-color: #f8f7f4; }

.range-filter__toggle {
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer; }

.range-filter__min-toggle {
  left: 13px; }

.range-filter__max-toggle {
  left: 110px; }

.radiobox:not(:last-child) {
  margin-right: 18px; }

.checkbox:not(:last-child) {
  margin-right: 20px; }

.radiobox__input,
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.radiobox__label,
.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: lowercase;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .radiobox__label::before,
  .checkbox__label::before {
    content: '';
    display: block;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: left center;
    opacity: 0.8; }
  .radiobox__label:hover::before,
  .checkbox__label:hover::before {
    opacity: 1; }

.radiobox__input:focus + .radiobox__label::before,
.checkbox__input:focus + .checkbox__label::before {
  opacity: 1; }

.radiobox__input:disabled + .radiobox__label::before,
.radiobox__input:disabled + .checkbox__label::before,
.checkbox__input:disabled + .radiobox__label::before,
.checkbox__input:disabled + .checkbox__label::before {
  opacity: 0.4 !important; }

.radiobox__label::before {
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-radio-off.svg");
  background-size: 100%; }

.radiobox__input:checked + .radiobox__label::before {
  background-image: url("../img/icon-radio-on.svg"); }

.checkbox__label::before {
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-checkbox-off.svg");
  background-size: 20px; }

.checkbox__input:checked + .checkbox__label::before {
  background-image: url("../img/icon-checkbox-on.svg");
  background-size: 24px 20px; }

.dropdown {
  position: relative; }
  .dropdown:hover .dropdown__menu {
    display: block; }
  .dropdown:focus-within .dropdown__menu {
    display: block; }

.dropdown__menu {
  position: absolute;
  right: 0;
  z-index: 1;
  display: none;
  padding-top: 5px; }

.dropdown__menu-inner {
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4); }

.main-nav a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.main-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__items--main > li > .main-nav__link {
  display: inline-block;
  margin-right: 5px;
  padding: 0 15px;
  font-weight: 500;
  line-height: 32px;
  vertical-align: top;
  text-decoration: none;
  border-radius: 30px; }
  .main-nav__items--main > li > .main-nav__link:hover, .main-nav__items--main > li > .main-nav__link:focus {
    color: #323232;
    text-decoration: none;
    background-color: #f8f7f4; }
    .main-nav__items--main > li > .main-nav__link:hover[href]:active, .main-nav__items--main > li > .main-nav__link:focus[href]:active {
      font-weight: 700;
      background-color: #ededed;
      -webkit-box-shadow: inset 0 2px 1px #696969;
              box-shadow: inset 0 2px 1px #696969; }
  .main-nav__items--main > li > .main-nav__link--active {
    font-weight: 400;
    color: white;
    background-color: #d07058; }
    .main-nav__items--main > li > .main-nav__link--active[href]:hover, .main-nav__items--main > li > .main-nav__link--active[href]:focus {
      font-weight: 700; }

.main-nav .dropdown__menu {
  right: auto;
  left: 0; }

.main-nav .dropdown__menu-inner {
  padding: 5px 0; }

.main-nav__items--lvl2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .main-nav__items--lvl2 .main-nav__link {
    display: block;
    padding: 0 20px;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    color: #323232;
    text-decoration: none;
    white-space: nowrap;
    background-color: #f8f7f4; }
    .main-nav__items--lvl2 .main-nav__link[href]:hover, .main-nav__items--lvl2 .main-nav__link[href]:focus {
      background-color: #fbded7; }
    .main-nav__items--lvl2 .main-nav__link[href]:active {
      background-color: #f6b5a5; }
    .main-nav__items--lvl2 .main-nav__link:not([href]) {
      color: white;
      background-color: #d07058; }

.main-nav__items--lvl2-top {
  font-weight: 700; }
  .main-nav__items--lvl2-top::after {
    content: '';
    height: 1px;
    margin: 0 10px;
    background-color: rgba(50, 50, 50, 0.2); }

.header-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  margin-left: 10px;
  padding: 0 15px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px; }
  .header-menu__link:hover, .header-menu__link:focus {
    color: #323232;
    background-color: #f8f7f4; }
    .header-menu__link:hover svg, .header-menu__link:focus svg {
      display: block;
      fill: black; }
  .header-menu__link svg {
    margin-right: 5px;
    fill: white; }
  .header-menu__link--search {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 32px;
    padding: 0; }
    .header-menu__link--search svg {
      margin: 0; }
  .header-menu__link--basket-empty {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 117px; }
    .header-menu__link--basket-empty svg {
      color: transparent; }
  .header-menu__link--basket-active {
    color: #323232;
    background-color: #f8f7f4; }
    .header-menu__link--basket-active svg {
      color: #e84d37;
      fill: #323232; }

.header-menu__search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 345px;
  padding: 20px 15px; }

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 280px;
  padding: 20px; }

.login__field {
  margin-bottom: 20px;
  font-size: 14px; }

.login__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px; }

.login__links {
  margin: 0; }

.login__link {
  font-size: 13px; }
  .login__link:hover, .login__link:focus {
    color: #e84d37; }

.page-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px; }

.page-nav__item:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px; }
  .page-nav__item:not(:last-child)::after {
    content: '\00BB';
    margin-left: 7px; }

.mini-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 540px;
  padding: 20px 15px; }
  .mini-basket table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
    border-collapse: collapse;
    color: #323232; }
  .mini-basket tbody {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #cacac7; }
    .mini-basket tbody tr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 20px; }
    .mini-basket tbody td {
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
  .mini-basket tfoot {
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-weight: 700;
    font-size: 15px;
    text-align: right; }
    .mini-basket tfoot td {
      padding-top: 15px; }
  .mini-basket img {
    border-radius: 50%; }

.mini-basket__item-cancel {
  -ms-flex-item-align: center;
      align-self: center; }
  .mini-basket__item-cancel button {
    display: block;
    width: 11px;
    height: 11px;
    padding: 0;
    background: none;
    background-image: url("../img/icon-cross.svg");
    background-repeat: no-repeat;
    background-size: 11px;
    border: none; }

.mini-basket__item-img {
  padding: 0 15px; }
  .mini-basket__item-img img {
    display: block; }

.mini-basket__desc {
  width: 220px; }

.mini-basket__count {
  width: 150px;
  text-align: center; }

.header-menu__basket-price {
  color: #999999; }

.header-menu__basket-submit {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-right: 15px;
  padding-left: 15px; }

.slider__container {
  position: relative; }

.slider__slides {
  position: relative;
  height: 850px; }

.slide {
  position: absolute;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 390px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50%; }
  .slide:nth-child(1) {
    background-image: url("../img/slide-1.png"); }
  .slide:nth-child(2) {
    background-image: url("../img/slide-2.png"); }
  .slide:nth-child(3) {
    background-image: url("../img/slide-3.png"); }
  .slide--active {
    display: block; }

.slide__title {
  width: 675px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
  font-size: 60px;
  line-height: 60px; }

.slide__link {
  padding: 0 40px;
  font-size: 32px;
  line-height: 63px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76); }

.slider__controls {
  position: absolute;
  top: 560px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider__control-item {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding: 0;
  background: none;
  border: 2px solid white;
  border-radius: 50%;
  outline: none; }
  .slider__control-item:disabled {
    background-color: white; }
  .slider__control-item:not(:disabled) {
    background-color: transparent; }
    .slider__control-item:not(:disabled):hover, .slider__control-item:not(:disabled):focus {
      background-color: rgba(255, 255, 255, 0.4); }

.promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 228px;
  padding: 20px;
  background-repeat: no-repeat; }
  .promotion--raspberries {
    background-color: #c12244;
    background-image: url("../img/promotion-1.jpg"); }
  .promotion--chocolate {
    background-color: #392013;
    background-image: url("../img/promotion-2.jpg"); }

.promotion__title {
  margin: 0;
  font-size: 35px; }

.promotion__description {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px; }

.promotion__link {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: auto; }

.product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23.32%;
  margin-right: 2.2%;
  margin-bottom: 7px;
  text-align: center; }
  .product:nth-child(4n) {
    margin-right: 0; }
  .product:hover .product__container {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 1;
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4); }
  .product:hover .product__fast-look {
    display: inline-block; }
  .product:focus-within .product__container {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 1;
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4); }
  .product:focus-within .product__fast-look {
    display: inline-block; }

.product__container {
  border-radius: 5px; }

.product__inner {
  position: relative; }

.product__flag {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-repeat: no-repeat;
  background-position: center; }
  .product__flag--hit {
    background-image: url("../img/icon-hit.svg"); }

.product__img-wrap {
  margin-bottom: 13px; }
  .product__img-wrap img {
    display: block;
    min-height: 199px;
    border-radius: 50%; }

.price {
  position: absolute;
  bottom: 10px;
  left: 0;
  margin: 0;
  font-weight: 700;
  font-size: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5); }

.price__measure {
  font-size: 30px; }

.product__title {
  height: 70px;
  margin: 5px 0;
  padding: 0 1.9%;
  overflow: hidden;
  font-size: 16px;
  line-height: 22px;
  text-align: center; }

.product__link {
  font-weight: 500; }

.product__fast-look {
  display: none;
  margin-top: auto;
  padding-right: 15px;
  padding-left: 15px; }

.best-sellers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .best-sellers__items .product {
    display: none; }
    .best-sellers__items .product:nth-child(-n+4) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

.info {
  padding: 20px;
  color: #323232;
  background-color: #eaddc0;
  background-image: url("../img/bg-waffle.jpg");
  border-radius: 15px; }

.info__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px; }

.info__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.info__item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 48.9%;
  margin-top: 0;
  margin-right: 2.2%;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-left: 60px;
  line-height: 22px; }
  .info__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url("../img/icon-ice-cream.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .info__item--ice-cream::before {
    background-image: url("../img/icon-ice-cream.svg"); }
  .info__item--farm::before {
    background-image: url("../img/icon-cow.svg"); }
  .info__item--natural::before {
    background-image: url("../img/icon-eco.svg"); }
  .info__item--termo::before {
    background-image: url("../img/icon-thermometer.svg"); }
  .info__item:nth-child(2n) {
    margin-right: 0; }

.blog-news {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 220px;
  padding: 20px;
  color: #323232;
  background-color: white;
  background-image: url("../img/bg-blog-news.jpg");
  background-repeat: no-repeat;
  background-position: center right; }

.blog-news__inner {
  width: 290px; }

.blog-news__title {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px; }

.blog-news__news {
  margin-top: 0; }

.blog-news__news-link {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px; }
  .blog-news__news-link:hover, .blog-news__news-link:focus {
    color: #e84d37; }

.subscription {
  width: 100%;
  padding: 5px;
  background-color: #d07058;
  background-image: url("../img/pattern-postal.svg"); }

.subscription__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%;
  padding: 30px 20px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 10px; }

.subscription__description {
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 22px; }

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto; }

.subscription__wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 10px; }

.subscription__field {
  width: 100%; }

.subscription__submit {
  padding-right: 19px;
  padding-left: 19px; }

.contacts__wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.contacts__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 900px;
  padding: 0 2.3%; }

.contacts__inner {
  position: relative; }

.contacts__content {
  position: absolute;
  top: calc((428px - 300px) / 2);
  right: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  height: 300px;
  padding: 30px 25px;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: white;
  border-radius: 15px; }

.contacts__content-row {
  margin-top: 0;
  margin-bottom: 20px; }

.contacts__address {
  font-style: normal; }
  .contacts__address b {
    font-size: 18px;
    line-height: 24px; }

.contacts__phone:hover, .contacts__phone:focus {
  color: #e84d37; }

.feedback {
  position: fixed;
  top: calc(50% - 440px / 2);
  left: calc(50% - 480px / 2);
  z-index: 3;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 480px;
  min-height: 440px;
  padding: 15px 25px;
  padding-bottom: 30px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 10px; }
  .feedback--show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s; }
  .feedback--error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s; }

.feedback__title {
  margin-top: 0;
  margin-bottom: 20px;
  padding-right: 15px;
  font-size: 24px; }

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.feedback__item {
  margin-bottom: 20px; }

input.feedback__field {
  width: 270px; }

textarea.feedback__field {
  height: 155px;
  resize: none; }

.feedback__send {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.feedback__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 18px;
  background: none;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none; }
  .feedback__close:hover, .feedback__close:focus {
    opacity: 0.5; }

.contacts__map {
  position: relative; }
  .contacts__map iframe {
    position: absolute;
    display: block;
    width: 100%;
    margin: 0 auto;
    border: none; }

.contacts__map-img-wrap {
  min-width: 900px;
  max-width: 1200px;
  height: 428px;
  margin: 0 auto;
  overflow: hidden; }
  .contacts__map-img-wrap img {
    display: block;
    height: 428px;
    -o-object-fit: cover;
       object-fit: cover; }

.page-header {
  margin-bottom: 5px; }

.page-header__wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.page-header__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 900px;
  padding: 0 2.3%; }

.page-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .page-header__row--bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right; }

.page-header__logo {
  margin-top: 10px;
  margin-right: 10px; }

.page-header__main-nav {
  margin-top: 23px; }

.page-header__menu {
  margin-top: 23px;
  margin-left: auto; }

.page-header__phone {
  margin: 0;
  margin-left: auto;
  font-weight: 700;
  font-size: 14px; }

.page-header__phone-number {
  font-size: 22px;
  text-decoration: none; }

.page-footer {
  padding: 20px 0;
  font-size: 13px; }

.page-footer__wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.page-footer__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 900px;
  padding: 0 2.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 23.26%; }
  .page-footer__column--middle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 48.78%; }
  .page-footer__column--right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.social-links__item {
  margin-right: 10px; }
  .social-links__item:last-child {
    margin-right: 0; }

.social-links__link {
  display: block;
  width: 32px;
  height: 32px;
  margin: 3px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  opacity: 0.8; }
  .social-links__link--tw {
    background-image: url("../img/logo-twitter.svg"); }
  .social-links__link--in {
    background-image: url("../img/logo-instagram.svg"); }
  .social-links__link--fb {
    background-image: url("../img/logo-fb.svg"); }
  .social-links__link--vk {
    background-image: url("../img/logo-vk.svg"); }
  .social-links__link:hover, .social-links__link:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
    opacity: 1; }
  .social-links__link:active {
    opacity: 0.8; }

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px; }
  .footer-nav__list:first-child {
    margin-right: 10px; }

.footer-nav__link {
  display: block;
  line-height: 20px; }
  .footer-nav__link b {
    position: relative; }
    .footer-nav__link b::before {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      width: 16px;
      height: 15px;
      background-image: url("../img/icon-heart.svg");
      background-repeat: no-repeat;
      background-position: center; }

.copyright {
  font-size: 12px; }

.copyright__logo {
  display: block; }
  .copyright__logo svg {
    display: block;
    fill: white; }

.copyright__description {
  margin: 5px 0; }

.main__wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.main__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 900px;
  padding: 0 2.3%; }

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px; }

.main__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 48.9%;
  margin-right: 2.2%;
  margin-bottom: 25px; }
  .main__column:nth-child(2n) {
    margin-right: 0; }
  .main__column > * {
    border-radius: 15px; }

.index--1 {
  background-color: #849d8f; }

.index--2 {
  background-color: #8996a6; }

.index--3 {
  background-color: #9d8b84; }

.index .page-header {
  margin: 0; }

.index .page-header__wrapper {
  position: relative; }

.index .page-header__container {
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%; }

.index .main__wrapper {
  position: relative;
  padding-top: 645px; }

.index .slider {
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1200px;
  padding: 0; }
  .index .slider + * {
    position: relative; }

.index .slider__controls {
  left: 2.3%; }

.index .info {
  margin-bottom: 40px; }

.catalog__wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.catalog__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 900px;
  padding: 0 2.3%; }

.catalog__inner {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.catalog__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 41px; }

.catalog__form {
  margin-bottom: 20px;
  font-weight: 500; }

.catalog__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.catalog__filters-group {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 20px;
  padding: 0;
  border: none; }
  .catalog__filters-group:last-of-type {
    margin-right: 0; }
  .catalog__filters-group:only-of-type {
    margin-right: 14px; }

.catalog__filters-title {
  margin: 5px 15px;
  font-size: 14px; }

.catalog__filters-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px; }
  .catalog__filters-inner--select {
    padding: 0; }

.catalog__select {
  position: relative; }
  .catalog__select::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 0;
    border-width: 10px 5.5px 0 5.5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .catalog__select:focus-within::after {
    border-top-color: black; }

.catalog__select-picker {
  position: relative;
  z-index: 2;
  padding-right: 35px;
  padding-left: 15px;
  font: inherit;
  color: white;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .catalog__select-picker::-ms-expand {
    display: none; }
  .catalog__select-picker:focus {
    color: black;
    outline: none; }

.catalog__filters-submit {
  margin-bottom: 20px;
  padding: 0 28px;
  font-weight: 500;
  line-height: 35px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 0 2px white;
          box-shadow: inset 0 0 0 2px white;
  cursor: pointer; }
  .catalog__filters-submit:hover, .catalog__filters-submit:focus {
    color: #323232;
    background-color: white;
    outline: none; }
  .catalog__filters-submit:active {
    background-color: #eaeaea;
    -webkit-box-shadow: inset 0 2px 1px #696969;
            box-shadow: inset 0 2px 1px #696969; }

.catalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px; }

.catalog__nav {
  margin: 30px 0; }

.catalog-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.catalog-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.catalog-nav__arrow,
.catalog-nav__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 5px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 50%; }
  .catalog-nav__arrow[href]:hover, .catalog-nav__arrow[href]:focus,
  .catalog-nav__btn[href]:hover,
  .catalog-nav__btn[href]:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none; }

.catalog-nav__arrow {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center; }
  .catalog-nav__arrow:not([href]) {
    opacity: 0.2; }
  .catalog-nav__arrow--prev {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.catalog-nav__btn {
  min-width: 25px;
  padding: 0 5px;
  font-weight: 500;
  line-height: 25px;
  color: white; }
  .catalog-nav__btn:not([href]) {
    color: #323232;
    background-color: white; }
  .catalog-nav__btn[href]:active {
    color: #323232;
    background-color: white; }
